body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:605px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  position:absolute;
  left:215px;
  top:183px;
  width:390px;
  height:200px;
}
#u89 {
  position:absolute;
  left:2px;
  top:92px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u90 {
  position:absolute;
  left:215px;
  top:183px;
  width:390px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:223px;
  top:185px;
  width:378px;
  height:25px;
}
#u92_input {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  position:absolute;
  left:344px;
  top:233px;
  width:171px;
  height:26px;
}
#u94 {
  position:absolute;
  left:2px;
  top:5px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u95 {
  position:absolute;
  left:306px;
  top:233px;
  width:39px;
  height:26px;
  text-align:left;
}
#u96 {
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u97 {
  position:absolute;
  left:333px;
  top:245px;
  width:8px;
  height:5px;
}
#u98 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:348px;
  top:238px;
  width:163px;
  height:15px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  position:absolute;
  left:306px;
  top:269px;
  width:209px;
  height:26px;
}
#u101 {
  position:absolute;
  left:2px;
  top:5px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:311px;
  top:274px;
  width:199px;
  height:15px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u103 {
  position:absolute;
  left:306px;
  top:305px;
  width:100px;
  height:16px;
  font-size:12px;
}
#u104 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u103_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u105 {
  position:absolute;
  left:448px;
  top:305px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u107 {
  position:absolute;
  left:306px;
  top:337px;
  width:209px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u108 {
  position:absolute;
  left:2px;
  top:5px;
  width:205px;
  word-wrap:break-word;
}
